[submodule "modules/firetv"]
	path = modules/firetv
	url = https://github.com/arslanilyas/Connect-SDK-iOS-FireTV.git
	branch = master
[submodule "core"]
	path = core
	url = https://github.com/arslanilyas/Connect-SDK-iOS-Core.git
	branch = dev
